.chart-container {
  width: 450px;
  height: 450px;

  margin-bottom: 10px;
}

.title{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: Poppins, sans-serif;

  color: white;

  background-color: #0D0C22;

  height: 13vh;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.5rem;
}
