mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  background-color: #11162D;
  width: 350px;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
  margin-top: 40px;
}

.switcher-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mat-drawer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

